# ----- Ignore everything
/*

# ----- Files to ignore
*.ppr
*.lock

# ----- Folders to ignore
/vendor/*

# ----- Files to accept
!aruba-ws-server.php
!composer.json
!README.md
!LICENSE
!.gitignore
#!Dockerfile

# ----- Folders to add
!/src/aruba_telemetry/*
!/awss
!/doc
!/doc/install
!/doc/install_docker
!/doc/install_docker/*



